#home
  %h1 API With Rails
  %p By WOAPI team @ OCTO Technology
  %p
    See repository on Github:
    = link_to 'https://github.com/octo-woapi/api-with-rails', 'https://github.com/octo-woapi/api-with-rails'
  %p
    See endpoint here:
    = link_to api_v1_products_url, api_v1_products_url
